* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
}

.site-header {
    width: 100%;
}

.navigation-wrapper, .navigation, .nav-ul, .user-action {
    display: flex;
}

.nav-ul {
    flex: 1;
}

.navigation-wrapper {
    padding: 20px 0 8px 0;
    width: 100%;
}

.site-logo {
    flex: 1;
}

.navigation {
    width: 100%;
}

.user-action {
    margin-left: auto;
}

.nav-ul-list, .user-action-list {
    list-style-type: none;
}

.nav-ul-list {
    margin-left: 20px;
}

.nav-ul-anchor, .user-action-anchor {
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    color: #000000;
    line-height: 2.2;
}

.nav-ul-anchor:hover {
    color: #2f6b9a;
}

.user-action-list .login {
    font-weight: 500;
    margin-right: 15px;
}

.user-action-list .login:hover {
    text-decoration: underline;
    color: #2f6b9a;
}

.get-started {
    background-color: #28863E;
    color: #ffffff;
    padding: 10px 25px;
}

.get-started:hover {
    background-color: #1f7032;
    color: #ffffff;
}

/* hero section */

.hero-wrapper {
    background-color: #143059;
}

.hero {
    display: flex;
}

.hero-image img {
    height: 85vh;
}

.hero-right-text {
    padding: 100px 0 0 100px;
}

.hero-heading {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.hero-paragraph, .compare-plans, .hero-heading {
    color: #ffffff;
}

.hero-paragraph {
    font-size: 18px;
    margin-bottom: 2.2rem;
}

.getstarted-button {
    margin-bottom: 2.3rem;
}

.compare-plans {
    text-decoration: underline;
}

.compare-plans:hover {
    color: #e4e4e4;
}

/* section */

.section {
    display: flex;
    margin-top: 80px;
}

.text-block {
   margin: 80px 0 0 0;
}


.block-heading {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 800;
}

.block-pragraph, .blockquote {
    font-size: 20px;
}

.small-G2 {
    font-size: 16px;
}

.blockquote, .small-G2 {
    margin: 0px 40px 0 40px;
}

.right-text {
    margin-left: 50px;
}

.left-text {
    margin-right: 50px;
}

/* third-section */

.connect-social-wrapper {
    background-color: #FCBB47;
    padding: 50px 0 50px 0;
}

.connect-social-section, .master-skill-section {
    display: flex;
}

.left-heading {
    align-self: center;
    font-size: 40px;
    font-weight: 800;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    width: 50%;
    margin-bottom: 1.2rem;
}

.connect-social-image {
    width: auto;
    height: auto;
}

/* master skill */


.master-skill-wrapper {
    background-color: #EEEBE8;
    padding: 75px 0 50px 0;
}


.master-skill-right-text {
    width: 50%;
    margin-left: 50px;
    align-self: center;
}

.right-heading {
    align-self: center;
    font-size: 40px;
    font-weight: 800;
    padding-right: 1.5rem;
    margin-bottom: 2.5rem;
}

.learn-more-btn {
    background-color: #EEEBE8;
    border: 1px solid #143059;
    color: #143059;
    font-weight: 700;
    padding: 1em 2.1em;
    transition: 200ms all ease-out;
}

.learn-more-btn:hover {
    background-color: #143059;
    color: #ffffff;
}

/* testimonials  */

.testimonial-section {
    padding: 75px 0 50px 0;
}

.testimonial-heading {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding: 0px 0 50px 0;

}

.testimonial-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.testimonial-logos img {
    margin-left: 60px;
}

.schedualing-action-wrapper {
    background-color: #143059;
    padding: 75px 0 50px 0;
    text-align: center;
}

.scheduling-heading {
    font-size: 2.125rem;
    color: #ffffff;
    text-align: center;
    padding: 0px 0 23px 0;
}


.scheduling-get-started {
    font-size: 1.125rem;
    font-weight: 700;
    padding: 0.78em 1.825em;
}

.scheduling-getstarted-button {
    margin-bottom: 23px;
}

.scheduling-compare-plans {
    font-size: .875rem;
    font-weight: 700;
}