* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
}

.site-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    background-color: #ffffff;
    z-index: 999;
}

.navigation-wrapper, .navigation, .nav-ul, .user-action {
    display: flex;
}

.nav-ul {
    flex: 1;
}

.navigation-wrapper {
    padding: 20px 0 8px 0;
    width: 100%;
}

.site-logo {
    flex: 1;
}

.navigation {
    width: 100%;
}

.user-action {
    margin-left: auto;
}

.nav-ul-list, .user-action-list {
    list-style-type: none;
}

.nav-ul-list {
    margin-left: 20px;
}

.nav-ul-anchor, .user-action-anchor {
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    color: #000000;
    line-height: 2.2;
}

.nav-ul-anchor:hover {
    color: #2f6b9a;
}

.user-action-list .login {
    font-weight: 500;
    margin-right: 15px;
}

.user-action-list .login:hover {
    text-decoration: underline;
    color: #2f6b9a;
}

.get-started {
    font-size: 1.125em;
    font-weight: 700;
    background-color: #28863E;
    color: #ffffff;
    padding: 10px 25px;
}

.get-started:hover {
    background-color: #1f7032;
    color: #ffffff;
}

/* hero section */

.hero-wrapper {
    margin-top: 79px;
    background-color: #143059;
}

.hero {
    display: flex;
}

.hero-image {
    margin-bottom: 0;
}

.hero-image img {
    height: 87vh;
}

.hero-right-text {
    padding: 100px 0 0 100px;
}

.hero-heading {
    font-size: 54px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 1.2rem;
}

.hero-paragraph, .compare-plans, .hero-heading {
    color: #ffffff;
}

.hero-paragraph {
    font-size: 18px;
    margin-bottom: 2.2rem;
}

.getstarted-button {
    margin-bottom: 2.3rem;
}

.compare-plans {
    font-size: 15px;
    font-weight: 700;
    text-decoration: underline;
}

.compare-plans:hover {
    color: #e4e4e4;
}

/* section */

.section {
    display: flex;
    margin-top: 80px;
}

.text-block {
   margin: 80px 0 0 0;
}


.from-left {
    transform: translateX(-50%);
}

.main{
    overflow-x: hidden;
}
.from-right {
    transform: translateX(50%);
}

.from-left,
.from-right {
    transition: opacity 450ms ease-in,
    transform 400ms ease-in;
    opacity: 0;
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

.block-heading {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 800;
}

.block-pragraph, .blockquote {
    font-size: 20px;
}

.small-G2 {
    font-size: 16px;
}

.blockquote, .small-G2 {
    margin: 0px 40px 0 40px;
}

.right-text {
    margin-left: 50px;
}

.left-text {
    margin-right: 50px;
}


.invest-section{
    margin-bottom: 80px;
}

/* third-section */

.connect-social-wrapper {
    background-color: #FCBB47;
    padding: 75px 0 75px 0;
}

.connect-social-section, .master-skill-section {
    display: flex;
}

.left-heading {
    align-self: center;
    font-size: 40px;
    font-weight: 800;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    width: 50%;
    /* margin-bottom: 1.2rem; */
}

.connect-social-image {
    width: auto;
    height: auto;
}

/* master skill */


.master-skill-wrapper {
    background-color: #EEEBE8;
    padding: 75px 0 75px 0;
}


.master-skill-right-text {
    width: 50%;
    margin-left: 50px;
    align-self: center;
}

.master-skill-heading {
    align-self: center;
    font-size: 40px;
    font-weight: 800;
    padding-right: 1.5rem;
    margin-bottom: 2.5rem;
}

.learn-more-btn {
    background-color: #EEEBE8;
    border: 1px solid #143059;
    color: #143059;
    font-weight: 700;
    padding: 1em 2.1em;
    transition: 200ms all ease-out;
}

.learn-more-btn:hover {
    background-color: #143059;
    color: #ffffff;
}

/* testimonials  */

.testimonial-section {
    padding: 75px 0 75px 0;
}

.testimonial-heading {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding: 0px 0 50px 0;

}

.testimonial-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.schedualing-action-wrapper {
    background-color: #143059;
    padding: 75px 0 75px 0;
    text-align: center;
}

.scheduling-heading {
    font-size: 2.125rem;
    color: #ffffff;
    text-align: center;
    padding: 0px 0 23px 0;
}


.scheduling-get-started {
    font-size: 1.125rem;
    font-weight: 700;
    padding: 0.78em 1.825em;
}

.scheduling-getstarted-button {
    margin-bottom: 23px;
}

.scheduling-compare-plans {
    font-size: .875rem;
    font-weight: 700;
}

@media only screen and (max-width: 1200px) {
    .hero-image img {
        height: 70vh;
    }
    .block-heading {
        font-size: 28px;
    }

    .block-pragraph, .blockquote {
        font-size: 18px;
    }
    .small-G2 {
        font-size: 14px;
    }
/* 
    .left-image-section.container {
        margin-left: 0;
        border: 1px solid red;
    }

    .right-image-section.container {
        margin-right: 0;
        border: 1px solid green;
    }

    .right-text {
        margin-right: 0px;
    }
    
    .left-text {
        margin-left: 0px;
    } */


 

}



@media only screen and (max-width: 991px) {
    .user-action-anchor {
        display: none;
    }

    .hero {
        padding: 0 0 50px 0;
    }
    .hero-image {
        display: none;
    }

    .hero-right-text {
        padding: 50px 0 0 0px;
    }

    .get-started {
        padding: 12px 32px;
    }

    .image-block.left-image {
        margin-left: -20%;
    }

    .image-block.right-image {
        margin-right: -20%;
    }
    .connect-social-image {
        margin-right: -36%;
    }
    .master-skill-image {
        margin-left: -36%;
    }

    .testimonial-logos {
        width: 100%;
    }
    

    .testimonial-logos img {
        margin-left: 0px;
    }

}

@media only screen and (max-width: 767px) {
    .hero-heading {
        font-size: 42px;
    }

    .hero-paragraph {
        font-size: 16px;
    }

    .compare-plans {
        font-size: 13px;
    }

    .getstarted-button {
        margin-bottom: 1.8rem;
    }

    .get-started {
        font-size: 0.9em;
        padding: 10px 26px;
    }
    .section {
        flex-direction: column;
        margin-top: 70px;
        /* background: green; */
    }

    .left-heading {
        width: 100%;
        text-align: center;
        padding-bottom: 40px;
        font-size: 36px;
    }

    .text-block {
       text-align: center;
        margin: 50px 0 0 0;
     }

     .image-block.left-image {
        margin-left: initial;
    }

    .image-block.right-image {
        margin-right: initial;
    }

    .right-text {
        margin-left: initial;
    }

    .left-text {
        margin-right: initial;
    }

    .section.right-image-section {
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 50px;
    }


    .connect-social-section {
        flex-direction: column-reverse;
    }

    .master-skill-section {
        flex-direction: column;
    }

    .master-skill-image {
        margin-left: 0;
    }

    .master-skill-right-text {
        width: 100%;
        text-align: center;
        padding-bottom: 50px;
    }

    .master-skill-heading {
        font-size: 36px;
    }

    .testimonial-heading {
        font-size: 36px;
        padding: 0px 0 30px 0;
    }

    .testimonial-logos {
        display: flex;
        flex-direction: column;
    }

    .testimonial-logos img {
        margin-left: initial;
        margin-top: 20px;
    }

    .scheduling-heading {
        font-size: 2rem;
        color: #ffffff;
        text-align: center;
        padding: 0px 0 23px 0;
    }

}
